:root {
  --grey: #34373a;
  --turnip: rgb(108, 163, 219);
  --blue: rgb(28, 84, 139);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 60px;
  padding: 2px;
  background: var(--grey);
}

header h1 {
  display: inline-block;
  height: 38px;
  font-size: 38px;
  padding-left: 3%;
  margin: 2px;
  text-align: right;
  background-color: var(--turnip);
  color: var(--grey);
}

/* I used two classes for the topnav*/

.topnav {
  display: flex;
  flex-wrap: wrap;
  color: var(--turnip);
  padding: 20px;
  padding-right: 40px;
  font-size: 15px;
  background-color: var(--grey);
}

.topnav a {
  color: var(--turnip);
  margin-right: 15px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: solid underline 4px;
  text-underline-offset: 8px;
}

.topnav a:hover {
  color: white;
}

/*I called this class "banner" it's not semantic html, but I think it's clear what it's representing.*/

.banner {
  height: 200px;
  width: 100%;
  background-image: url("../images/Boards_2.jpg");
  background-size: cover;
  margin-bottom: 25px;
}

/*This class contains the inline banner box with the subtitle "Nice to meet you!"*/

.banner-inline-box {
  float: right;
  display: inline-block;
  text-align: right center;
  background-color: var(--turnip);
  color: var(--grey);
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 5px;
  font-size: 25px;
  margin-right: 50px;
  margin-top: 150px;
}

main {
  margin-right: 1%;
}

/*Content below is the About Me section*/
/* Anything indicated "Container, contains the entire section. In this case, container is the main flex box for the "About Me" section.*/
.content-about-me-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: first baseline;
  align-items: right;
  padding: 10px;
  margin-right: 3%;
}

/*Defines the width for flexing purposes.*/
.content-about-me-width {
  width: 375px;
}

/*Defines the styling of the "About Me" aside section*/
.content-about-me-box-1 {
  width: 200px;
  font-size: 40px;
  text-align: right;
  margin-left: 3%;
  padding-right: 1%;
  color: var(--blue);
}

.content-about-me-text {
  margin: 1%;
}

/*Defines the styleing for the main text section*/
.content-about-me-box-2 {
  flex-grow: 4;
  padding-left: 60px;
  border-left: solid var(--blue);
}

#content-portfolio-photo {
  width: 200px;
  height: 200x;
  border: solid var(--turnip);
  border-radius: 30px;
  float: left;
  margin-right: 2%;
}

/*Content below is the Work section*/
/*Work Box Container for the whole section for flexing purposes.*/

.content-work-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: first baseline;
  align-items: right;
  padding: 10px;
  margin-right: 3%;
  margin-bottom: 2%;
}

/*Defines the width for flexing purposes.*/
.content-work-width {
  width: 375px;
}

/*Defines the styling of the "Work" aside section*/
.content-work-box-1 {
  width: 200px;
  font-size: 40px;
  text-align: right;
  margin-left: 3%;
  padding-right: 1%;
  color: var(--blue);
}

/*Defines the styleing for the actual content containing links to different projects and future projects. */
.content-work-box-2 {
  flex-grow: 4;
  padding-left: 60px;
  border-left: solid var(--blue)
}

/*Initally all the sections were formatted like ".content-work-hoirseon", but I dropped the word work to make it more straight forward and reduce the length of the class name*/

.content-horiseon {
  min-height: 400px;
  display: block;
  border: solid var(--turnip) 5px;
  background-image: url("../images/vscode.jpg");
  object-fit: cover;
  position: relative
}

/*Each content contains two ids for each inline block of text. I experimented with one block for the inline, but couldn't get it to align correctly and landed on using two for each. One for the larger block of text and one for the smaller block of text.*/
#content-horiseon-inline1 {
  display: inline-block;
  position: absolute;
  background-color: var(--turnip);
  color: var(--grey);
  padding: 10px;
  font-size: 25px;
  bottom: 30px;
}

#content-horiseon-inline2 {
  display: inline-block;
  position: absolute;
  background-color: var(--turnip);
  color: var(--grey);
  padding: 10px;
  font-size: 12px;
  bottom: 15px;
  padding-right: 49px;
}

.content-horiseon:hover {
  opacity: .5;
}

/*This sub-class came out of my tutoring session. It was advised that I use a larger sub-class to keep all the smaller boxes below Horiseon consistent*/
.content-work-sub-class {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*Just defines the box sizes*/
.small-box {
  margin-top: 10px;
  min-width: 48%;
}

/*Content for LED Wall below*/
.content-led-wall {
  min-height: 125px;
  border: solid var(--turnip) 5px;
  background-image: url("../images/laptop.jpg");
  background-size: cover;
  position: relative;
  float: left;
}

#content-led-wall-inline1 {
  display: inline-block;
  position: absolute;
  background-color: var(--turnip);
  color: var(--grey);
  padding: 10px;
  font-size: 25px;
  top: 15px;
}

#content-led-wall-inline2 {
  display: inline-block;
  position: absolute;
  background-color: var(--turnip);
  color: var(--grey);
  padding: 10px;
  padding-right: 64px;
  bottom: .5px;
  font-size: 12px;
}

.content-led-wall:hover {
  opacity: .5;
}

/*Content for Calculator below */
.content-calculator {
  min-height: 125px;
  border: solid var(--turnip) 5px;
  background-image: url("../images/water-drops.jpg");
  background-size: cover;
  position: relative;
  float: right;
}

#content-calculator-inline1 {
  display: inline-block;
  position: absolute;
  background-color: var(--turnip);
  color: var(--grey);
  padding: 10px;
  padding-right: 17px;
  font-size: 25px;
  top: 15px;
}

#content-calculator-inline2 {
  display: inline-block;
  position: absolute;
  background-color: var(--turnip);
  color: var(--grey);
  padding: 10px;
  bottom: .5px;
  font-size: 12px;
}

.content-calculator:hover {
  opacity: .5;
}

/*Content for Pastel Puzzle below*/
.content-pastel-puzzle {
  min-height: 125px;
  border: solid var(--turnip) 5px;
  background-image: url("../images/tree-lake.jpg");
  background-size: cover;
  position: relative;
}

#content-pastel-puzzle-inline1 {
  display: inline-block;
  position: absolute;
  background-color: var(--turnip);
  color: var(--grey);
  padding: 10px;
  font-size: 25px;
  top: 15px;
}

#content-pastel-puzzle-inline2 {
  display: inline-block;
  position: absolute;
  background-color: var(--turnip);
  color: var(--grey);
  padding: 10px;
  padding-right: 93px;
  bottom: .5px;
  font-size: 12px;
}

.content-pastel-puzzle:hover {
  opacity: .5;
}

/*Content for Run Buddy below*/
.content-run-buddy {
  min-height: 125px;
  border: solid var(--turnip) 5px;
  background-image: url("../images/flowers.jpg");
  background-size: cover;
  position: relative;
}

#content-run-buddy-inline1 {
  display: inline-block;
  position: absolute;
  background-color: var(--turnip);
  color: var(--grey);
  padding: 10px;
  font-size: 25px;
  top: 15px;
}

#content-run-buddy-inline2 {
  display: inline-block;
  position: absolute;
  background-color: var(--turnip);
  color: var(--grey);
  padding: 10px;
  padding-right: 73px;
  bottom: .5px;
  font-size: 12px;
}

.content-run-buddy:hover {
  opacity: .5;
}

/*Content below is the About Me section*/
/*About Me Container for the whole section for flexing purposes.*/
.content-contact-me-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: first baseline;
  align-items: right;
  margin-right: 3%;
  padding: 10px;
}

/*Defines with for flexing purposes*/
.content-contact-me-width {
  width: 375px;
}

/*Defines the styling of the "Work" aside section*/
.content-contact-me-box-1 {
  width: 200px;
  font-size: 40px;
  text-align: right;
  margin-left: 3%;
  padding-right: 1%;
  color: var(--blue);
}

.content-contact-me-text {
  margin: 1%;
}

/*Defines the styleing for the actual content containing links to different things. */
.content-contact-me-box-2 {
  flex-grow: 1;
  padding-left: 60px;
  padding-right: 60px;
  border-left: solid var(--blue);
}

/*Responsible for the wrap*/
.content-contact-me-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1%;
}

/*Defines color font weight for the individual links*/
#content-contact-me-link {
  color: var(--turnip);
  font-weight: bold;
  text-decoration: solid underline 4px;
  text-underline-offset: 8px;
  font-size: 15px;
}

#content-contact-me-link:hover {
  color: var(--grey);
}