:root {
  --grey: #34373a;
  --turnip: rgb(108, 163, 219);
  --blue: rgb(28, 84, 139);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 60px;
  padding: 2px;
  background: var(--grey);
}

header h1 {
  display: inline-block;
  height: 38px;
  font-size: 38px;
  padding-left: 3%;
  margin: 2px;
  text-align: right;
  background-color: var(--turnip);
  color: var(--grey);
}


.topnav {
  display: flex;
  flex-wrap: wrap;
  color: var(--turnip);
  padding: 20px;
  padding-right: 40px;
  font-size: 15px;
  background-color: var(--grey);
}

.topnav a {
  color: var(--turnip);
  margin-right: 15px;
  font-size: 15px;
  font-weight: bold;
  text-decoration: solid underline 4px;
  text-underline-offset: 8px;   
}

.topnav a:hover {
  color: white;
}

.boards {
  height: 200px;
  width: 100%;
  background-image: url("../images/Boards_2.jpg");
  background-size: cover;
  margin-bottom: 25px;
}

.boards-box {
  float: right;
  display: inline-block;
  text-align: right center;
  background-color: var(--turnip);
  color: var(--grey);
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 5px;
  font-size: 25px;
  margin-right: 50px;
  margin-top: 150px;
}

main {
  margin-right: 1%;
  border: solid black;
}

/* About Me Container Section */
.about-me-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: first baseline;
  align-items: right;
  padding: 10px;
  margin-right: 3%;
}

.about-me-box {
  width: 375px;
}

.about-me-box-1 {
  width: 200px;
  font-size: 40px;
  text-align: right;
  margin-left: 3%;
  padding-right: 1%;
  color: var(--blue);
}

.about-me-text {
  margin: 1%;
}

.about-me-box-2 {
  flex-grow: 4;
  padding-left: 60px;
  border-left: solid var(--blue);
}

.portfolio-photo {
  width: 200px;
  height: 200x;
  border: solid var(--turnip);
  border-radius: 30px;
  float: left;
  margin-right: 2%;
}

/*Work Box Container Section*/

.work-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: first baseline;
  align-items: right;
  padding: 10px;
  margin-right: 3%;
  margin-bottom: 2%;
}

.work-box {
  width: 375px;
}

.work-box-1 {
  width: 200px;
  font-size: 40px;
  text-align: right;
  margin-left: 3%;
  padding-right: 1%;
  color: var(--blue);
}

.work-box-2 {
  flex-grow: 4;
  padding-left: 60px;
  border-left: solid var(--blue)
}

.work-box-sub-class {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.small-box {
  margin-top: 10px;
  min-width: 49%;
  
}

.work-surf-report {
  min-height: 400px;
  display: block;
  border: solid var(--turnip) 5px;
  background-image: url("../images/vscode.jpg");
  object-fit: cover;
  position: relative
}

.work-surf-report-box1 {
  display: inline-block;
  position: absolute;
  background-color: var(--turnip);
  color: var(--grey);
  padding: 10px;
  font-size: 25px;
  bottom: 30px;
}

.work-surf-report-box2 {
  display: inline-block;
  position: absolute;
  background-color: var(--turnip);
  color: var(--grey);
  padding: 10px;
  font-size: 12px;
  bottom: 15px;
  padding-right: 41px;
}

.work-surf-report:hover {
  opacity: .5;
}

.work-led-wall {
  min-height: 125px;
  border: solid var(--turnip) 5px;
  background-image: url("../images/laptop.jpg");
  background-size: cover;
  position: relative;
  float: left;
}

.work-led-wall-box1 {
  display: inline-block;
  position: absolute;
  background-color: var(--turnip);
  color: var(--grey);
  padding: 10px;
  font-size: 25px;
  top: 15px;
}

.work-led-wall-box2 {
  display: inline-block;
  position: absolute;
  background-color: var(--turnip);
  color: var(--grey);
  padding: 10px;
  padding-right: 64px;
  bottom: .5px; 
  font-size: 12px;
}

.work-led-wall:hover {
  opacity: .5;
}

.work-calculator {
  min-height: 125px;
  border: solid var(--turnip) 5px;
  background-image: url("../images/water-drops.jpg");
  background-size: cover;
  position: relative;
  float: right;
}

.work-calculator-box1 {
  display: inline-block;
  position: absolute;
  background-color: var(--turnip);
  color: var(--grey);
  padding: 10px;
  padding-right: 17px;
  font-size: 25px;
  top: 15px;
}

.work-calculator-box2 {
  display: inline-block;
  position: absolute;
  background-color: var(--turnip);
  color: var(--grey);
  padding: 10px;
  bottom: .5px; 
  font-size: 12px;
}

.work-calculator:hover {
  opacity: .5;
}

.work-pastel-puzzle {
  min-height: 125px;
  border: solid var(--turnip) 5px;
  background-image: url("../images/tree-lake.jpg");
  background-size: cover;
  position: relative;
}

.work-pastel-puzzle-box1 {
  display: inline-block;
  position: absolute;
  background-color: var(--turnip);
  color: var(--grey);
  padding: 10px;
  font-size: 25px;
  top: 15px;
}

.work-pastel-puzzle-box2 {
  display: inline-block;
  position: absolute;
  background-color: var(--turnip);
  color: var(--grey);
  padding: 10px;
  padding-right: 93px;
  bottom: .5px; 
  font-size: 12px;
}

.work-pastel-puzzle:hover {
  opacity: .5;
}

.work-run-buddy {
  min-height: 125px;
  border: solid var(--turnip) 5px;
  background-image: url("../images/flowers.jpg");
  background-size: cover;
  position: relative;
}

.work-run-buddy-box1 {
  display: inline-block;
  position: absolute;
  background-color: var(--turnip);
  color: var(--grey);
  padding: 10px;
  font-size: 25px;
  top: 15px;
}

.work-run-buddy-box2 {
  display: inline-block;
  position: absolute;
  background-color: var(--turnip);
  color: var(--grey);
  padding: 10px;
  padding-right: 73px;
  bottom: .5px; 
  font-size: 12px;
}

.work-run-buddy:hover {
  opacity: .5;
}


/* Contact Me Container Section*/

.contact-me-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: first baseline;
  align-items: right;
  margin-right: 3%;
  padding: 10px;
}

.contact-me-box {
  width: 375px;
}

.contact-me-box-1 {
  width: 200px;
  font-size: 40px;
  text-align: right;
  margin-left: 3%;
  padding-right: 1%;
  color: var(--blue);
}

.contact-me-text {
  margin: 1%;
}

.contact-me-box-2 {
  flex-grow: 1;
  padding-left: 60px;
  padding-right: 60px;
  border-left: solid var(--blue);
}

.contact-me-section-master {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  font-size: 15px;
}

.contact-me-section-individual {
  color: var(--turnip);
  font-weight: bold;
  margin: 6%;
  text-decoration: solid underline 4px;
  text-underline-offset: 8px;  
  font-size: 15px;
}

.contact-me-section-individual:hover {
 color: var(--grey);
} 
